Group09_NodeRED.json
[{"id":"ba08c998.089cd8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"25b4ea5.baddf16","type":"http request","z":"ba08c998.089cd8","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":890,"y":400,"wires":[["71d49af4.605d04"]]},{"id":"d0d21c71.37588","type":"change","z":"ba08c998.089cd8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":400,"wires":[["25b4ea5.baddf16"]]},{"id":"9e061899.804058","type":"ui_dropdown","z":"ba08c998.089cd8","name":"","label":"","tooltip":"","place":"Select option","group":"f9a03b2a.708918","order":0,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Business","value":"business","type":"str"},{"label":"Entertainment","value":"entertainment","type":"str"},{"label":"General","value":"general","type":"str"},{"label":"Health","value":"health","type":"str"},{"label":"Science","value":"science","type":"str"},{"label":"Sports","value":"sports","type":"str"},{"label":"Technology","value":"technology","type":"str"}],"payload":"","topic":"","x":960,"y":100,"wires":[["3b75ac48.f715e4"]]},{"id":"922dbfba.610a7","type":"function","z":"ba08c998.089cd8","name":"","func":"let categ;\ncateg=global.get(\"categdd\");\n\nreturn {\n    payload:\"https://newsapi.org/v2/top-headlines?category=\"+categ+\"&apiKey=a9ac31b9e752450a99b53aefdc5d0cdf\"\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":400,"wires":[["d0d21c71.37588"]]},{"id":"d9876dab.8012","type":"function","z":"ba08c998.089cd8","name":"","func":"let inpl;\nlet inpctg;\ninpl=global.get(\"lang\");\ninpctg=global.get(\"categdd\");\n\n\nreturn {\n    payload:\"https://newsapi.org/v2/top-headlines?language=\"+inpl+\"&category=\"+inpctg+\"&apiKey=a9ac31b9e752450a99b53aefdc5d0cdf\"\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":280,"wires":[["c9a768f.5468798"]]},{"id":"c9a768f.5468798","type":"change","z":"ba08c998.089cd8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":280,"wires":[["25b4ea5.baddf16"]]},{"id":"9fed1896.40e558","type":"change","z":"ba08c998.089cd8","name":"","rules":[{"t":"set","p":"date","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":40,"wires":[[]]},{"id":"5bccd2e.921882c","type":"change","z":"ba08c998.089cd8","name":"","rules":[{"t":"set","p":"keywords","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":100,"wires":[[]]},{"id":"f17126d6.500b58","type":"change","z":"ba08c998.089cd8","name":"","rules":[{"t":"set","p":"source","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":40,"wires":[[]]},{"id":"17bb49c7.d5f576","type":"function","z":"ba08c998.089cd8","name":"","func":"let inps;\ninps=global.get(\"source\");\n\n\nreturn {\n    payload:\"https://newsapi.org/v2/top-headlines?sources=\"+inps+\"&apiKey=a9ac31b9e752450a99b53aefdc5d0cdf\"\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":520,"wires":[["5b1b4f7c.478ac"]]},{"id":"5b1b4f7c.478ac","type":"change","z":"ba08c998.089cd8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":520,"wires":[["25b4ea5.baddf16"]]},{"id":"3c17c9f.bef7436","type":"function","z":"ba08c998.089cd8","name":"","func":"let inpkw;\ninpkw=global.get(\"keywords\");\n\nreturn {\n    payload:\"https://newsapi.org/v2/top-headlines?q=\"+inpkw+\"&apiKey=a9ac31b9e752450a99b53aefdc5d0cdf\"\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":580,"wires":[["f1d39d52.21321"]]},{"id":"f1d39d52.21321","type":"change","z":"ba08c998.089cd8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":580,"wires":[["25b4ea5.baddf16"]]},{"id":"39080b96.fc1ec4","type":"change","z":"ba08c998.089cd8","name":"","rules":[{"t":"set","p":"cnt","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":100,"wires":[[]]},{"id":"b700b88.4c82348","type":"function","z":"ba08c998.089cd8","name":"","func":"let inpcnt;\ninpcnt=global.get(\"cnt\");\n\nreturn {\n    payload:\"https://newsapi.org/v2/top-headlines?country=\"+inpcnt+\"&apiKey=a9ac31b9e752450a99b53aefdc5d0cdf\"\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":340,"wires":[["81e79270.8ad62"]]},{"id":"81e79270.8ad62","type":"change","z":"ba08c998.089cd8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":340,"wires":[["25b4ea5.baddf16"]]},{"id":"c820773b.a22bf8","type":"function","z":"ba08c998.089cd8","name":"","func":"let inpcnt;\nlet inpctg;\ninpcnt=global.get(\"cnt\");\ninpctg=global.get(\"categdd\");\n\nreturn {\n    payload:\"https://newsapi.org/v2/top-headlines?country=\"+inpcnt+\"&category=\"+inpctg+\"&apiKey=a9ac31b9e752450a99b53aefdc5d0cdf\"\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":460,"wires":[["d74c913d.3f54b"]]},{"id":"d74c913d.3f54b","type":"change","z":"ba08c998.089cd8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":460,"wires":[["25b4ea5.baddf16"]]},{"id":"3b75ac48.f715e4","type":"change","z":"ba08c998.089cd8","name":"","rules":[{"t":"set","p":"categdd","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":100,"wires":[[]]},{"id":"c5b2f253.51bf7","type":"ui_switch","z":"ba08c998.089cd8","name":"For a given category and language","label":" For a given category and language","tooltip":"","group":"b637565e.5cb828","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":160,"y":880,"wires":[["9cba3387.b202a","fa68ff7.042a8","c938c02e.22d31"]]},{"id":"38f7918d.2869ee","type":"ui_switch","z":"ba08c998.089cd8","name":"For a country","label":"For a country","tooltip":"","group":"b637565e.5cb828","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":210,"y":1020,"wires":[["e03ab8c3.342988","bc75babb.3e4c08"]]},{"id":"dc31fa43.0d9c68","type":"ui_switch","z":"ba08c998.089cd8","name":"For a category","label":"For a category","tooltip":"","group":"b637565e.5cb828","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":220,"y":1120,"wires":[["c938c02e.22d31","d2d11a5.8f309e8"]]},{"id":"26e51785.1f3718","type":"ui_switch","z":"ba08c998.089cd8","name":"For a country and category","label":"For a country and category","tooltip":"","group":"b637565e.5cb828","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":160,"y":1080,"wires":[["e03ab8c3.342988","c938c02e.22d31","ec25bb45.b7b7c8"]]},{"id":"ec16722d.99aea","type":"ui_switch","z":"ba08c998.089cd8","name":"From a specific source","label":"From a specific source","tooltip":"","group":"b637565e.5cb828","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":220,"y":1220,"wires":[["533954f5.2337fc","43d96358.cd2d3c"]]},{"id":"be44d8e9.b16b28","type":"ui_switch","z":"ba08c998.089cd8","name":"For certain keywords","label":"For certain keywords","tooltip":"","group":"b637565e.5cb828","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":160,"y":740,"wires":[["25147d7f.0634e2","1fb12ea0.a25d91"]]},{"id":"3ff412dc.0d2e1e","type":"function","z":"ba08c998.089cd8","name":"","func":"if (msg.payload){\n    return{\n        payload:{\"group\":{\"show\":[\"News_Date\"]}}\n    }\n    \n}else{\n    return{\n        payload:{\"group\":{\"hide\":[\"News_Date\"]}}\n    }\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":840,"wires":[["54186445.16d53c"]]},{"id":"e03ab8c3.342988","type":"function","z":"ba08c998.089cd8","name":"","func":"if (msg.payload){\n    return{\n        payload:{\"group\":{\"show\":[\"News_Country\"]}}\n    }\n    \n}else{\n    return{\n        payload:{\"group\":{\"hide\":[\"News_Country\"]}}\n    }\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":1020,"wires":[["fa381516.6e3158"]]},{"id":"c938c02e.22d31","type":"function","z":"ba08c998.089cd8","name":"","func":"if (msg.payload){\n    return{\n        payload:{\"group\":{\"show\":[\"News_Categories\"]}}\n    }\n    \n}else{\n    return{\n        payload:{\"group\":{\"hide\":[\"News_Categories\"]}}\n    }\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":1120,"wires":[["64de0425.3e2abc"]]},{"id":"533954f5.2337fc","type":"function","z":"ba08c998.089cd8","name":"","func":"if (msg.payload){\n    return{\n        payload:{\"group\":{\"show\":[\"News_Source\"]}}\n    }\n    \n}else{\n    return{\n        payload:{\"group\":{\"hide\":[\"News_Source\"]}}\n    }\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":1220,"wires":[["659cf998.1422d8"]]},{"id":"25147d7f.0634e2","type":"function","z":"ba08c998.089cd8","name":"","func":"if (msg.payload){\n    return{\n        payload:{\"group\":{\"show\":[\"News_Keywords\"]}}\n    }\n    \n}else{\n    return{\n        payload:{\"group\":{\"hide\":[\"News_Keywords\"]}}\n    }\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":740,"wires":[["4d4585a6.75084c"]]},{"id":"54186445.16d53c","type":"ui_ui_control","z":"ba08c998.089cd8","name":"","events":"all","x":600,"y":840,"wires":[[]]},{"id":"fa381516.6e3158","type":"ui_ui_control","z":"ba08c998.089cd8","name":"","events":"all","x":600,"y":1020,"wires":[[]]},{"id":"659cf998.1422d8","type":"ui_ui_control","z":"ba08c998.089cd8","name":"","events":"all","x":600,"y":1220,"wires":[[]]},{"id":"4d4585a6.75084c","type":"ui_ui_control","z":"ba08c998.089cd8","name":"","events":"all","x":600,"y":740,"wires":[[]]},{"id":"7dfd32aa.cab88c","type":"ui_text_input","z":"ba08c998.089cd8","name":"Enter the keywords","label":"Enter the keywords","tooltip":"","group":"e637f777.2ab088","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":170,"y":100,"wires":[["5bccd2e.921882c"]]},{"id":"2c76e63a.701bfa","type":"ui_text_input","z":"ba08c998.089cd8","name":"Enter the date as YYYY-MM-DD","label":"Enter the date as YYYY-MM-DD","tooltip":"","group":"74af389b.e00af8","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":150,"y":40,"wires":[["9fed1896.40e558"]]},{"id":"736ba446.4d448c","type":"ui_button","z":"ba08c998.089cd8","name":"OK","group":"b637565e.5cb828","order":8,"width":0,"height":0,"passthru":false,"label":"OK","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":70,"y":400,"wires":[["7d36b7be.67ae38","7c89543c.a16f2c","d84e57b4.0b1b88","2253250e.06967a","7f63050b.7cb25c","7e513047.442c5","296a3099.7c53f","98f5cd7f.267d2"]]},{"id":"9cba3387.b202a","type":"function","z":"ba08c998.089cd8","name":"","func":"global.set(\"langcatg\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":880,"wires":[[]]},{"id":"43d96358.cd2d3c","type":"function","z":"ba08c998.089cd8","name":"","func":"global.set(\"s\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":1280,"wires":[[]]},{"id":"d2d11a5.8f309e8","type":"function","z":"ba08c998.089cd8","name":"","func":"global.set(\"ca\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":1160,"wires":[[]]},{"id":"ec25bb45.b7b7c8","type":"function","z":"ba08c998.089cd8","name":"","func":"global.set(\"cc\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":1080,"wires":[[]]},{"id":"bc75babb.3e4c08","type":"function","z":"ba08c998.089cd8","name":"","func":"global.set(\"co\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":980,"wires":[[]]},{"id":"1fb12ea0.a25d91","type":"function","z":"ba08c998.089cd8","name":"","func":"global.set(\"k\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":700,"wires":[[]]},{"id":"7d36b7be.67ae38","type":"switch","z":"ba08c998.089cd8","name":"switch2","property":"langcatg","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":220,"y":280,"wires":[["d9876dab.8012"]]},{"id":"7c89543c.a16f2c","type":"switch","z":"ba08c998.089cd8","name":"switch3","property":"co","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":220,"y":340,"wires":[["b700b88.4c82348"]]},{"id":"d84e57b4.0b1b88","type":"switch","z":"ba08c998.089cd8","name":"switch4","property":"ca","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":220,"y":400,"wires":[["922dbfba.610a7"]]},{"id":"2253250e.06967a","type":"switch","z":"ba08c998.089cd8","name":"switch5","property":"cc","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":220,"y":460,"wires":[["c820773b.a22bf8"]]},{"id":"7f63050b.7cb25c","type":"switch","z":"ba08c998.089cd8","name":"switch6","property":"s","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":220,"y":520,"wires":[["17bb49c7.d5f576"]]},{"id":"7e513047.442c5","type":"switch","z":"ba08c998.089cd8","name":"switch7","property":"k","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":220,"y":580,"wires":[["3c17c9f.bef7436"]]},{"id":"8c68951b.28d908","type":"ui_switch","z":"ba08c998.089cd8","name":"For a given date and keywords","label":"For a given date and keywords","tooltip":"","group":"b637565e.5cb828","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":170,"y":800,"wires":[["e9504836.e9d858","25147d7f.0634e2","3ff412dc.0d2e1e"]]},{"id":"e9504836.e9d858","type":"function","z":"ba08c998.089cd8","name":"","func":"global.set(\"kd1\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":800,"wires":[[]]},{"id":"296a3099.7c53f","type":"switch","z":"ba08c998.089cd8","name":"switch1","property":"kd1","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":220,"y":220,"wires":[["12f0bba6.825574"]]},{"id":"12f0bba6.825574","type":"function","z":"ba08c998.089cd8","name":"","func":"let inpd;\nlet inpkw;\ninpd=global.get(\"date\");\ninpkw=global.get(\"keywords\");\n\nreturn {\n    payload:\"https://newsapi.org/v2/everything?q=\"+inpkw+\"&from=\"+inpd+\"&to=\"+inpd+\"&sortBy=popularity&apiKey=a9ac31b9e752450a99b53aefdc5d0cdf\"\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":220,"wires":[["647f00c0.66ad9"]]},{"id":"647f00c0.66ad9","type":"change","z":"ba08c998.089cd8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":220,"wires":[["25b4ea5.baddf16"]]},{"id":"64de0425.3e2abc","type":"ui_ui_control","z":"ba08c998.089cd8","name":"","events":"all","x":600,"y":1120,"wires":[[]]},{"id":"65ab62ca.af20cc","type":"ui_dropdown","z":"ba08c998.089cd8","name":"","label":"","tooltip":"","place":"Select option","group":"4484af1f.20106","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Argentina","value":"ar","type":"str"},{"label":"Austria","value":"at","type":"str"},{"label":"Australia","value":"au","type":"str"},{"label":"Brazil","value":"br","type":"str"},{"label":"Canada","value":"ca","type":"str"},{"label":"China","value":"cn","type":"str"},{"label":"Cuba","value":"cu","type":"str"},{"label":"Germany","value":"de","type":"str"},{"label":"Egypt","value":"eg","type":"str"},{"label":"France","value":"fr","type":"str"},{"label":"Greece","value":"gr","type":"str"},{"label":"Hong Kong","value":"hk","type":"str"},{"label":"Indonesia","value":"id","type":"str"},{"label":"Ireland","value":"ie","type":"str"},{"label":"Israel","value":"il","type":"str"},{"label":"India","value":"in","type":"str"},{"label":"Italy","value":"it","type":"str"},{"label":"Japan","value":"jp","type":"str"},{"label":"Korea, Republic of","value":"kr","type":"str"},{"label":"Morocco","value":"ma","type":"str"},{"label":"Mexico","value":"mx","type":"str"},{"label":"Malaysia","value":"my","type":"str"},{"label":"Netherlands","value":"nl","type":"str"},{"label":"Norway","value":"no","type":"str"},{"label":"New Zealand","value":"nz","type":"str"},{"label":"Philippines","value":"ph","type":"str"},{"label":"Poland","value":"pl","type":"str"},{"label":"Romania","value":"ro","type":"str"},{"label":"Switzerland","value":"ch","type":"str"},{"label":"Serbia","value":"rs","type":"str"},{"label":"Russian Federation","value":"ru","type":"str"},{"label":"Sweden","value":"se","type":"str"},{"label":"Singapore","value":"sg","type":"str"},{"label":"Thailand","value":"th","type":"str"},{"label":"Turkey","value":"tr","type":"str"},{"label":"Taiwan, Province of China","value":"tw","type":"str"},{"label":"Ukraine","value":"ua","type":"str"},{"label":"United States of America","value":"us","type":"str"},{"label":"Venezuela (Bolivarian Republic of)","value":"ve","type":"str"},{"label":"South Africa","value":"za","type":"str"}],"payload":"","topic":"","x":580,"y":100,"wires":[["39080b96.fc1ec4"]]},{"id":"9ad1bb37.aee938","type":"ui_dropdown","z":"ba08c998.089cd8","name":"","label":"","tooltip":"","place":"Select option","group":"7d81d609.1ec478","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"BBC News","value":"bbc-news","type":"str"},{"label":"Engadget","value":"engadget","type":"str"},{"label":"CNN","value":"cnn","type":"str"},{"label":"NBC News","value":"nbc-news","type":"str"},{"label":"CBS News","value":"cbs-news","type":"str"},{"label":"The Verge","value":"the-verge","type":"str"},{"label":"TechCrunch","value":"techcrunch","type":"str"},{"label":"Reuters","value":"reuters","type":"str"},{"label":"Business Insider","value":"business-insider","type":"str"},{"label":"Spiegel Online","value":"spiegel-online","type":"str"},{"label":"Bild","value":"bild","type":"str"},{"label":"Financial Times","value":"financial-times","type":"str"},{"label":"Fox News","value":"fox-news","type":"str"},{"label":"The Hill","value":"the-hill","type":"str"},{"label":"Associated Press","value":"associated-press","type":"str"}],"payload":"","topic":"","x":580,"y":40,"wires":[["f17126d6.500b58"]]},{"id":"196133cd.1dca1c","type":"ui_dropdown","z":"ba08c998.089cd8","name":"","label":"","tooltip":"","place":"Select option","group":"ea0d33ad.13c47","order":0,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Arabic","value":"ar","type":"str"},{"label":"German","value":"de","type":"str"},{"label":"English","value":"en","type":"str"},{"label":"Spanish","value":"es","type":"str"},{"label":"French","value":"fr","type":"str"},{"label":"Italian","value":"it","type":"str"},{"label":"Norwegian","value":"no","type":"str"},{"label":"Portuguese","value":"pt","type":"str"},{"label":"Russian","value":"ru","type":"str"},{"label":"Northern Sami","value":"se","type":"str"},{"label":"Chinese","value":"zh","type":"str"}],"payload":"","topic":"","x":960,"y":40,"wires":[["edce2edd.1001c"]]},{"id":"edce2edd.1001c","type":"change","z":"ba08c998.089cd8","name":"","rules":[{"t":"set","p":"lang","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":40,"wires":[[]]},{"id":"fa68ff7.042a8","type":"function","z":"ba08c998.089cd8","name":"","func":"if (msg.payload){\n    return{\n        payload:{\"group\":{\"show\":[\"News_Language\"]}}\n    }\n    \n}else{\n    return{\n        payload:{\"group\":{\"hide\":[\"News_Language\"]}}\n    }\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":920,"wires":[["79b09cc.e018964"]]},{"id":"79b09cc.e018964","type":"ui_ui_control","z":"ba08c998.089cd8","name":"","events":"all","x":600,"y":920,"wires":[[]]},{"id":"71d49af4.605d04","type":"function","z":"ba08c998.089cd8","name":"","func":"let output=[];\nlet n;\nif(msg.payload.status==\"ok\"){\n    if(msg.payload.articles.length>5){\n        n=5;\n    }\n    else if(msg.payload.articles.length==0){\n        output=[];\n    }\n    else{\n        n=msg.payload.articles.length;\n    }\n    for(let i=0;i<5;i++){\n        if(i>n){\n            output.push({});\n        }\n        else{\n        output.push(msg.payload.articles[i]);\n        }\n    }\n}\nelse{\n    output=[];\n}\n\nreturn {\n    payload:output\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":400,"wires":[["ad8493f3.4483","deb3d76f.481e78"]]},{"id":"98f5cd7f.267d2","type":"function","z":"ba08c998.089cd8","name":"","func":"return{\n    payload:'Check this link for news:192.168.217.53' \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":160,"wires":[["af63c0ba.73871"]]},{"id":"af63c0ba.73871","type":"twilio out","z":"ba08c998.089cd8","twilio":"cf250d96.6d836","twilioType":"sms","url":"","number":"+94 71 637 0353","name":"","x":530,"y":160,"wires":[]},{"id":"ad8493f3.4483","type":"json","z":"ba08c998.089cd8","name":"","property":"payload","action":"","pretty":false,"x":990,"y":460,"wires":[["b08e72da.02f69"]]},{"id":"b08e72da.02f69","type":"mqtt out","z":"ba08c998.089cd8","name":"","topic":"incommingTopic","qos":"","retain":"","broker":"600ed55a.90379c","x":980,"y":540,"wires":[]},{"id":"deb3d76f.481e78","type":"debug","z":"ba08c998.089cd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":320,"wires":[]},{"id":"f9a03b2a.708918","type":"ui_group","name":"Categories","tab":"15e8fada.8adc45","order":2,"disp":true,"width":"12","collapse":false},{"id":"b637565e.5cb828","type":"ui_group","name":"Activate the way you want","tab":"15e8fada.8adc45","order":1,"disp":true,"width":"6","collapse":false},{"id":"e637f777.2ab088","type":"ui_group","name":"Keywords","tab":"15e8fada.8adc45","order":6,"disp":true,"width":"6","collapse":false},{"id":"74af389b.e00af8","type":"ui_group","name":"Date","tab":"15e8fada.8adc45","order":3,"disp":true,"width":"6","collapse":false},{"id":"4484af1f.20106","type":"ui_group","name":"Country","tab":"15e8fada.8adc45","order":4,"disp":true,"width":"6","collapse":false},{"id":"7d81d609.1ec478","type":"ui_group","name":"Source","tab":"15e8fada.8adc45","order":5,"disp":true,"width":"6","collapse":false},{"id":"ea0d33ad.13c47","type":"ui_group","name":"Language","tab":"15e8fada.8adc45","order":5,"disp":true,"width":"6","collapse":false},{"id":"cf250d96.6d836","type":"twilio-api","name":"","sid":"AC0910717039377208d3250dbc01495e32","from":"+16182437619"},{"id":"600ed55a.90379c","type":"mqtt-broker","name":"","broker":"http://www.mqtt-dashboard.com/","port":"1883","clientid":"","usetls":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"15e8fada.8adc45","type":"ui_tab","name":"News","icon":"dashboard","disabled":false,"hidden":false}]